#video{
width:100%;
height:500%;
border:none;
}



p
{
    font-size: 60px;
    font-family: Arial Bold;
}



h5
{
    font-size: 60px;
}



h6
{
    font-size: 60px;
    font-family: Arial Bold;
}